body {
  background-color: white;
}
.main-app {
  width: 80%;
  margin: 100px auto 0 auto;
}
.header-main-app {
  text-align: center;
}
.home-page {
  margin-top: 20px;
}
.list-pokemon {
  width: 100%;
}
.wrap-pokemon-item {
  height: 500px;
  padding: 0 10px;
  overflow: hidden;
  overflow-y: scroll;
}
.btn-navigate {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
.col-pokemon-item {
  margin-top: 10px;
  margin-bottom: 10px;
}
.pokemon-item {
  width: 100%;
  background-color: #9edef9;
  border-radius: 1rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: pointer;
}
.pokemon-item:hover {
  transform: translateY(-5px);
}
.detail-pokemon{
    height: 300px;
    max-width: 400px;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
}
.modal-overlay{
 /* Hidden by default */
  position: fixed; 
  z-index: 1;
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); 
}
.wrap-btn-close{
  display: flex;
  justify-content: flex-end;
}
.btn-close-modal{
  width: 35px;
  height: 35px;
  border : 1px solid #ccc;
  border-radius: 50%;
  margin-right: 15px;
}
.modal-container{
  border-radius: 5px;
  padding: 15px 0;
  height: fit-content;
  background-color: rgb(158,222,249);
}
.detail-header{
  text-align: center;
}
.img-detail{
    text-align: center;
}
.img-detail img{
    height: 250px;
}
.content-header{
    text-align: center;
}
.detail-content-stat{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}
.content-characteristic{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.list-abilities,
.list-moves{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list-abilities{
    height: fit-content;
}
.list-moves{
    height: 150px;
    padding: 0 20px;
    overflow-y: scroll;
}
.btn-catches{
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-color: rgb(158,222,249);
  border : 1px solid #ccc;
  color: black;
  font-weight: 500;
}
.btn-catches:hover{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transform: translateY(-5px);
}
.poke-result{
  margin-top: 20px;
  height: 450px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  
}
.result-detail{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.detail{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.result-detail > .detail> img{
    height: 250px;
    width: 250px;
}
.result-stats{
  display: flex;
  gap: 20px;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.input-edit{
  margin-bottom: 15px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.confirm-name{
  margin-left: 10px;
  background-color: white;
  border: 1px solid #ccc;
}
.btn-add{
  background-color: rgb(158,222,249);
  border: 1px solid #ccc;
  padding : 10px
}
.btn-add:hover{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transform: translateY(-5px);
}


.header{
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.logo-header{
  height: 100%;
}
.logo-header img{
  height: 100%;
}
.bag-info{
  display: flex;
  gap: 15px;
  align-items: center;
}
.bag-content{
  cursor: pointer;
  height: 100%;
  padding-top: 10px;
}
.bag-content:hover{
  text-decoration: underline;
}
.bag-amount{
  background-color: rgb(158,222,249);
  padding : 10px 18px;
  border-radius: 50%;
}


.user-bag-header{
  text-align: center;
}
.wrap-avatar > img {
  height: 160px;
  width: 160px;
}
.name-pokemon{
  font-size: 20px;
}